<div id="mainPage_div">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
		data-whatever="@mdo">Open modal for @mdo</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
		data-whatever="@fat">Open modal for @fat</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
		data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">New message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Recipient:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Message:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="FormCreationDiv" class="col-md-10 col-md-offset-1 m-auto">
    <div class="page-title">
        <span> MPN Manager </span> 
    </div>


    <form>
        <h5>Excel Import</h5>
        <div class="m-2">
            <div class="input-group row mb-3 mx-4 w-25">
                <input type="file" class="form-control" data-bind="event: {change: $root.fileUpload}" id="attachmentFile" name="attachmentFile">

            </div>

        </div>
        <button id="btnImport" type="button" class="mt-3 btn btn-primary mx-3" data-bind="click: showModal">
            Import
        </button>
        <br>
        
        <div class="mt-3" data-bind="visible : errors().length > 0" style="display: none;">
        <h5 class="mt-3">Errors</h5>
        <ul>
			<!-- ko foreach: errors --><!-- /ko -->
		</ul>       
        </div>
    </form>
    <hr>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="">
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Change Method:</label>
                            <div class="col-sm-8">
                                <select id="changeMethod" class="form-control" data-bind="value: changeMethodTypeSelect, event : {change : onChangeMethodEvent}">
                                    <option value="new">Create New Change</option>
                                    <option value="existing">Select Existing Change</option>
                                </select>
                            </div>


                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Change Type:</label>
                            <div class="col-sm-8">
                                <select data-bind="options: changeTypeOptions, optionsText: 'displayName', value: changeTypeSelect" class="form-control">
                                </select>
                            </div>


                        </div>
                    </form>

                    <form id="createForm" data-bind="visible: isNewChangeSelected" class="">
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Change Number:</label>
                            <div class="col-sm-8">
                                <input id="cotext" required="" data-bind="value: createChangeNotice" type="text" class="form-control" placeholder="XXXXXX" disabled="">
                            </div>


                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Change Name:</label>
                            <div class="col-sm-8">
                                <input id="changeName" data-bind="value: changeName" type="text" class="form-control" placeholder="Enter Change Name" required="">
                                 <div id="requiredName" class="error error-message mx-2" style="font-size:10px;" data-bind="visible: changeName().length === 0">*Change Name is Required</div>      
                            </div>


                        </div>

                    </form>

                    <form id="selectExistingChangeForm" data-bind="visible: isExistingChangeSelected" style="display: none;">
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Change Number:</label>
                            <div class="col-sm-8">
                                <select required="" id="changeNoticeSearch" class="form-control select2-hidden-accessible" data-bind="select2:changeNoticeSelect2, value:changeNotice" data-select2-id="changeNoticeSearch" tabindex="-1" aria-hidden="true"></select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-changeNoticeSearch-container"><span class="select2-selection__rendered" id="select2-changeNoticeSearch-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Select ...</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
								<div id="requiredumber" class="error error-message mx-2" style="font-size:10px;" data-bind="visible: !changeNotice()">*Change Number is Required</div>
                            </div>

                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: sendRequest">Import</button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="modal fade in" id="deleteFormulaConfirmDialig" role="dialog" style="display: block; padding-right: 15px;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Are you sure?</h4>
				</div>

				<div class="modal-footer">
					<button data-bind="click: $root.deleteFormula" type="button" class="btn btn-sm btn-danger">Confirm</button>
					<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
